<div>
    <app-page-header *ngIf="selUnidade != null" [heading]="'Unidades - Detalhes da Unidade'"></app-page-header>
    <app-page-header *ngIf="selUnidade == null" [heading]="'Unidades - Adicionar Unidade'"></app-page-header>

    <div class="row ml-auto justify-content-md-center">
        <div class="col-10 col-sm-8 col-md-8 col-lg-8 col-xl-5">
            <form [formGroup]="formAddUnidade">
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                        <span>Código</span>
                        <input type="text" class="form-control" formControlName="uniId" disabled>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <span>Data Cadastro</span>
                        <span
                            class="form-control disabled">{{formAddUnidade.value.uniDtCadastro | date: 'dd/MM/yyyy'}}</span>
                    </div>
                    <div *ngIf="permissao == 'ROLE_ADMIN'" id="checkbox"
                        class="col-2 col-sm-4 col-md-4 col-lg-3 col-xl-1">
                        <mat-checkbox formControlName="uniAtiva" checked="formAddUnidade.uniAtiva"
                            [labelPosition]='_labelPosition'>
                            Ativa?</mat-checkbox>
                    </div>
                    <div *ngIf="permissao != 'ROLE_ADMIN'" id="checkbox"
                        class="col-2 col-sm-4 col-md-4 col-lg-3 col-xl-1">
                        <mat-checkbox [disabled]="true" formControlName="uniAtiva" checked="formAddUnidade.uniAtiva"
                            [labelPosition]='_labelPosition'>
                            Ativa?</mat-checkbox>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-8">
                        <span>Nome <span style="color: red;">*</span></span>
                        <input type="text" class="form-control" formControlName="uniNome" autofocus required>
                    </div>
                </div>
                <br>
                <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-10">
                    <div class="row">
                        <a class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-3 btn btn-padrao" [routerLink]="['/unidades']"
                            [routerLinkActive]="['router-link-active']">
                            Voltar
                        </a>
                        <button *ngIf="permissao == 'ROLE_ADMIN'" [disabled]="!formAddUnidade.valid"
                            class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-3 btn btn-padrao"
                            (click)="adicionarUnidade()">
                            Salvar
                        </button>
                        <a *ngIf="permissao == 'ROLE_ADMIN' && selUnidade != null"
                            class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-3 btn btn-padrao" (click)="excluir()">
                            Excluir
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>