<div>
    <div class="modal-header">
        <h4 class="color-blue">
            Selecione os Novos Participantes
        </h4>
        <a class="close" aria-label="Close" (click)="fechar()">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <div class="modal-body">
        <div class="page-text">
            <div class="row justify-content-center">
                <div class="col-7 col-sm-9 col-md-6 col-lg-5 col-xl-6">
                    <input class="form-control text-center" matInput (keyup)="aplicarFiltroPart($event.target.value)"
                        placeholder="Pesquisar">
                </div>
            </div>
            <br />
            <table mat-table [dataSource]="listPessoas" class="mat-elevation-z8">

                <!-- Checkbox -->
                <ng-container matColumnDef="selecionar">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selecionados.hasValue() && isAllSelected()"
                            [indeterminate]="selecionados.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
                        </mat-checkbox>

                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selecionados.toggle(row) : null"
                            [checked]="selecionados.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Nome -->
                <ng-container matColumnDef="pesNome">
                    <th mat-header-cell *matHeaderCellDef>Nome</th>
                    <td mat-cell *matCellDef="let pessoa">{{pessoa.pesNome}}</td>
                </ng-container>

                <!-- Unidade -->
                <ng-container matColumnDef="pesUnidade">
                    <th mat-header-cell *matHeaderCellDef>Unidade</th>
                    <td mat-cell *matCellDef="let pessoa">{{pessoa.pesUnidade.uniNome}}</td>
                </ng-container>

                <!-- Obrigatorio -->
                <ng-container matColumnDef="obrigatorio">
                    <th mat-header-cell *matHeaderCellDef>Obrigatório?</th>
                    <td mat-cell *matCellDef="let pessoa">
                        <mat-checkbox [(ngModel)]="pessoa.participanteObrigatorio"
                            checked="pessoa.participanteObrigatorio">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>
        <br />
        <div class="row ml-auto">
            <a class="btn btn-padrao" (click)="fechar()">Fechar</a>
        </div>
    </div>
</div>