 

  .text-area{
    text-align: justify !important;
    margin: 0 auto;
    font-size: 15px;
  }

  .div-mensagem{
    margin-bottom: 20px;
  }
  
  #tags-disp{
    float: right;
  }

  .fa-pencil, .fa-floppy-o{
    padding: 6px;
    padding-left: 30px;
    font-size: larger;
  }