<div class="login-page" [@routerTransition]>
    <br />
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img id="imagem" src="assets/images/logo_organizerooms_branco.png" />
            <form [formGroup]="loginForm" (ngSubmit)="validarCredenciais()">
                <div class="form-group">
                    <input type="text" formControlName="pesEmail" autofocus
                        class="form-control input-lg input-underline text-center" placeholder="E-mail" required />
                </div>
                <div class="form-group">
                    <input type="password" formControlName="pesSenha"
                        class="form-control input-lg input-underline text-center" placeholder="Senha" required />
                </div>

                <button class="btn rounded-btn btn-padrao">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
            </form>
        </div>
    </div>
</div>