/* Column Widths */
.mat-column-salaNome {
    max-width: 46px;
}
.mat-column-salaUnidade {
    max-width: 35px;
}
.mat-column-salaLotacao {
    max-width: 19px;
}
.mat-column-detalhes,
.mat-column-salaAtiva {
    max-width: 15px;
}
 