<div class="card-body">
    <div class="list-group">
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-comment fa-fw"></i> New Comment
            <span class="float-right text-muted small"><em>4 minutes ago</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
            <span class="float-right text-muted small"><em>12 minutes ago</em></span>
        </a>
    </div>
    <!-- /.list-group -->
    <a href="#" class="btn btn-padrao btn btn-padrao-default btn btn-padrao-block">View All Alerts</a>
</div>
