/* Column Widths */
.mat-column-pesId {
    max-width: 10px;
}
.mat-column-pesNome {
    max-width: 25px;
}
.mat-column-pesDescricaoPermissao {
    max-width: 34px;
}
.mat-column-pesUnidade {
    max-width: 18px;
}
.mat-column-detalhes {
    max-width: 5px;
}