<div *ngIf="selSala != null">

    <form [formGroup]="formAgendar">
        <h3 class="text-center color-blue" style="font: bolder;">
            {{selSala.salaNome}}
        </h3>
        <hr>
        <div class="row ml-auto">
            <div class="col-12 col-sm-6 col-md-4 col-lg-5 col-xl-4">
                <span>Unidade</span>
                <span class="form-control disabled text-center">
                    {{selUnidade.uniNome}}
                </span>
            </div>
            <div class="col-5 col-sm-6 col-md-3 col-lg-3 col-xl-2">
                <span>Lotação</span>
                <span class="form-control disabled text-center">
                    {{selSala.salaLotacao}}
                </span>
            </div>
            <div class="col-7 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <span>Data</span>
                <span class="form-control disabled text-center">
                    {{chamarMontarStringData(data)}}
                </span>
            </div>
        </div>

        <div class="row ml-auto">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <span>Período</span>
                <span class="form-control disabled text-center">
                    {{chamarMontarStringHoraMinuto(horaInicio)}} às
                    {{chamarMontarStringHoraMinuto(horaFim)}}
                </span>
            </div>
            <div class="col-12 col-sm-6 col-md-7 col-lg-7 col-xl-6">
                <span>Responsável</span>
                <span class="form-control disabled">{{responsavel}}</span>
            </div>
        </div>
        <div class="row ml-auto">
            <div class="col-12 col-sm-6 col-md-11 col-lg-11 col-xl-9">
                <span>Assunto<span style="color: red;"> *</span></span>
                <input type="text" class="form-control" required formControlName="ageAssunto">
            </div>
        </div>
        <div class="row ml-auto">
            <div class="col-12 col-sm-6 col-md-11 col-lg-11 col-xl-9">
                <span>Descrição</span>
                <textarea class="form-control" formControlName="ageDescricao">
                </textarea>
            </div>
        </div>
        <br />

        <!-- INICIO - PARTICIPANTES (PESSOAS) -->
        <div class="row ml-auto">
            <div class="col-7 col-sm-3 col-md-6 col-lg-6 col-xl-5">
                <h4 class="card-title">
                    <i class="fa fa-users"></i>&nbsp;
                    Participantes
                </h4>
            </div>
            <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-1">
                <a class="btn btn-padrao btn-selecionar" (click)="abrirModalPessoas()">
                    Selecionar
                </a>
            </div>
        </div>
        <div class="row ml-auto">
            <div class="col-12 col-sm-6 col-md-9 col-lg-9 col-xl-8">
                <ul class="list-group">
                    <li *ngFor="let participante of pessoasSelecionadas" class="list-group-item">
                        <div class="row">
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                {{participante.pesNome}}
                            </div>
                            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                                <i *ngIf="participante.participanteObrigatorio" class="fa fa-exclamation"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- FIM - PARTICIPANTES (PESSOAS) -->
        <br />
        <!-- INICIO - EQUIPAMENTOS -->
        <div class="row ml-auto">
            <div class="col-7 col-sm-3 col-md-6 col-lg-6 col-xl-5">
                <h4 class="card-title">
                    <i class="fa fa-desktop"></i>&nbsp;
                    Equipamentos
                </h4>
            </div>
            <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-1">
                <a class="btn btn-padrao btn-selecionar" (click)="abrirModalEquipamentos()">
                    Selecionar
                </a>
            </div>
        </div>
        <div class="row ml-auto">
            <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-8">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let equipamento of equipamentosSelecionados">
                        {{equipamento.equNome}}
                    </li>
                </ul>
            </div>
        </div>
        <!-- FIM - PARTICIPANTES (PESSOAS) -->
        <br />
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">
            <div class="row ml-auto justify-content-center">
                <button matStepperPrevious class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 btn btn-padrao">
                    Voltar
                </button>
                <button *ngIf="agendado == false" class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 btn btn-padrao"
                    [disabled]="!formAgendar.valid" (click)="agendar(stepper)">
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>

<!--<app-selecionar-pessoas [agendamento]="agendamento" (pessoasSelecionadas)="getPessoas($event)"></app-selecionar-pessoas>
<app-selecionar-equipamentos (equipamentosSelecionados)="getEquipamentos($event)"></app-selecionar-equipamentos>-->