<div>
    <app-page-header [heading]="'Reserva de Sala'"></app-page-header>

    <div class="row justify-content-md-center">
        <div class="card-agendamento col-12 col-sm-12 col-md-12 col-lg-10 col-xl-7">
            <mat-vertical-stepper linear labelPosition="bottom" #stepper>

                <!--- PRIMEIRO PASSO - INICIO -->
                <mat-step completed="false">
                    <ng-template matStepLabel>Verificando a disponibilidade</ng-template>

                    <app-verificar-disponibilidade [stepper]="stepper" (agendamento)="getAgendamento($event)">
                    </app-verificar-disponibilidade>
                </mat-step>
                <!--- PRIMEIRO PASSO - FIM -->

                <!--- SEGUNDO PASSO - INICIO -->
                <mat-step completed=" false">
                    <ng-template matStepLabel>Faça a reserva</ng-template>
                    <div *ngIf="agendamento != null">
                        <app-agendar [stepper]="stepper" [agendamento]="agendamento"></app-agendar>
                    </div>
                </mat-step>
                <!--- SEGUNDO PASSO - FIM -->

                <!--- TERCEIRO PASSO -->
                <mat-step completed="false">
                    <ng-template matStepLabel>Reserva realizada com cucesso!</ng-template>
                    <br />
                    <div class="row">
                        <span class="color-blue">Reserva finalizada com sucesso!</span>
                    </div>
                    <br />
                    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">
                        <div class="row ml-auto justify-content-center">
                            <button class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 btn btn-padrao" matStepperPrevious>
                                Voltar
                            </button>
                            <button class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 btn btn-padrao" (click)="fechar()">
                                Fechar
                            </button>
                            <button class="col-10 col-sm-5 col-md-5 col-lg-6 col-xl-6 btn btn-padrao"
                                (click)="limpar()">
                                Novo Agendamento
                            </button>
                        </div>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
    </div>
</div>